body {
    font-family: Roboto, sans-serif;
    color: #212121;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
img {
    display: block;
}
button {
    cursor: pointer;
    border: none;
}
.page-header-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;
}
.logo {
    color: #2196f3;
}
.menu-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.menu-contact {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}
.order {
    background: #2f303a;
}
.order-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
}
.modal-open-btn {
    background: #2196f3;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background: #188ce8;
}
.oder-btn-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
}
.menu-link:hover,
.menu-link:focus,
.menu-contact:hover,
.menu-contact:focus {
    color: #2196f3;
}
.specialty-main {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.specialty-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: #757575;
}
.propositions-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.our-team {
    background: #f5f4fa;
}
.our-team-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.our-team-item {
    background: #ffffff;
}
.our-team-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.our-team-job {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.bottom {
    background: #2f303a;
}
.page-footer-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    letter-spacing: 0.03em;

    color: #ffffff;
}
.bottom-address {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: #ffffff;
}
.bottom-address-tel-mail {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
.bottom-address:hover,
.bottom-address:focus,
.bottom-address-tel-mail:hover,
.bottom-address-tel-mail:focus {
    color: #2196f3;
}
.portfolio-select-list button {
    background: #f5f4fa;
    border-radius: 4px;
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.portfolio-select-list button:hover,
.portfolio-select-list button:focus {
    background: #2196f3;
    color: #ffffff;
}
.portfolio-example-list h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;

    color: #212121;
}
.portfolio-example-list p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: #757575;
}
